export(crudeMC)
export(approximateZeroVariance)
export(approximateZeroVarianceWOR)
export(approximateZeroVarianceFearnhead)
export(approximateZeroVarianceWORWithVariance)
export(exhaustiveSearch)
export(exhaustiveProbability)
export(approximateZeroVarianceWORMerge)
export(residualResampling)
export(approximateZeroVarianceWORMergeWithVariance)
